/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.avg-metric-title {
    font-size: 14px;
    color: #98978b;
    text-transform: uppercase;
}

.avg-metric-text {
    font-size: 16px;
    color: #98978b;
    font-weight:bold;
}

input {
    font-size: 14px;
    color: #98978b;
}

h4 > span > input:focus{
    background-color: #F2F1ED;
}

input:focus{
    background-color: white;
}

li > span {
    color: #98978b;
}

li > div > span {
    color: #98978b;
}

li, label, h4 {
    color: #98978b;
}

button {
    color: #F2F1ED;
}

button > span {
    color: #F2F1ED;
}
.panel{
    border-color:1px solid #dfd7ca;
    background-color:#dfd7ca;
}

.panel-default>.panel-heading{
    border-color:transparent;
    background-color:#dfd7ca;
}

.panel .child-panel{
    border:none;
}

.btn-primary{
    border:none;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

/* Text Input */
.form-input {
    background-color: rgba(255, 255, 255, .00001);
    border: 1px solid rgba(255, 255, 255, .00001);
    border-radius: 2px;
    padding: 5px 6px;
    min-width: 25%;
}

.form-input:focus {
  border-color: #8f8f8f;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content {
    margin-top: 50px;
    margin-bottom: 35px;
    left: 0;
    right: 0;
}


.nav-tabs, .nav-pills {
    text-align:center;
}

.brand { margin-left: auto; margin-right: auto; }