* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.picker__button--close{
    color: black;
}

.picker__button--clear{
    color: black;
}

.picker__button--today{
    color: black;
}

.custom-list-group-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-form-control {
    padding: 5px 5px;
    height: 34px;
    vertical-align:middle;
}

.drop-shadow {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
}

.avg-metric-title {
    font-size: 14px;
    color: #98978b;
    text-transform: uppercase;
}

.avg-metric-text {
    font-size: 16px;
    color: #98978b;
    font-weight:bold;
}

input {
    font-size: 14px;
    color: #98978b;
}

h4 {
    font-weight:bolder;
}

h4 > span > input:focus{
    background-color: white;
}

input:focus{
    background-color: white;
}

li > span {
    color: #98978b;
}

li > div > span {
    color: #98978b;
}

li, label, h4 {
    color: #98978b;
}

button {
    color: #F2F1ED;
}

button > span {
    color: #F2F1ED;
}

.panel .child-panel{
    border:none;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

/* Text Input */
.form-input {
    background-color: rgba(255, 255, 255, .00001);
    border: 1px solid rgba(255, 255, 255, .00001);
    border-radius: 2px;
    padding: 5px 6px;
    min-width: 25%;
}

.form-input:focus {
  border-color: #8f8f8f;
}

input[type=text]{
    -webkit-appearance:none;
    margin:0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content {
    margin-top: 50px;
    margin-bottom: 35px;
    left: 0;
    right: 0;
}


.nav-tabs, .nav-pills {
    text-align:center;
}

.brand { margin-left: auto; margin-right: auto; }